@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #171e2f;
  background-color: #ffffff;
  font-size: 3rem;
}

body.lock {
  overflow: hidden !important;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 169rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 2.5rem;
    width: 100%;
  }
  .container--sm {
    width: 100%;
  }
}
.languages {
  position: relative;
}
.languages__selected-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  cursor: pointer;
}
.languages__selected-lang img {
  width: 3.5rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.languages__lang {
  position: absolute;
  top: 3rem;
  left: -1rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  color: #fff;
  background: rgba(54, 53, 53, 0.6);
  display: none;
}
.languages__lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.languages__lang a span {
  font-size: 1.8rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
.languages__lang a img {
  width: 2rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.languages__lang.active {
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.5rem 0;
  color: #fff;
  background: rgba(16, 15, 15, 0.22);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header.hide {
  opacity: 0;
  visibility: hidden;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo img {
  width: 6.2rem;
  height: 7.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.8rem;
}
.header__logo span {
  font-size: 2.1rem;
  text-transform: uppercase;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  margin-right: 5rem;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-item {
  font-size: 1.9rem;
  text-transform: uppercase;
}
.header__nav-item:not(:last-child) {
  margin-right: 5rem;
}
.header__nav-item:nth-child(2) {
  position: relative;
}
.header__nav-item:nth-child(2) button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
  text-transform: uppercase;
}
.header__nav-item:nth-child(2) button img {
  width: 2.5rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav-item:nth-child(2).active .header__sub-menu {
  -webkit-transition: 0.2s visibility linear, 0.2s opacity linear;
  transition: 0.2s visibility linear, 0.2s opacity linear;
  visibility: visible;
  opacity: 1;
}
.header__nav-item:nth-child(2).active button img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.header__sub-menu {
  position: absolute;
  top: 5.5rem;
  left: 0;
  width: 50rem;
  visibility: hidden;
  opacity: 0;
}
.header__sub-menu::before {
  content: "Ramsider";
  position: absolute;
  padding: 2rem 0.5rem 5rem 0;
  font-size: 5rem;
  left: 0;
  bottom: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 500;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  width: 2.5rem;
  height: 100%;
  color: #fff;
  background: linear-gradient(177deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(204, 204, 204) 100%);
  opacity: 0.8;
  cursor: auto;
}
.header__sub-list {
  margin-left: 3rem;
  padding: 3rem;
  color: #fff;
  background: rgba(54, 53, 53, 0.6);
  -webkit-transition: right 1s, -webkit-transform 1s;
  transition: right 1s, -webkit-transform 1s;
  transition: right 1s, transform 1s;
  transition: right 1s, transform 1s, -webkit-transform 1s;
}
.header__sub-item {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.header__sub-item:not(:last-child) {
  margin-bottom: 2rem;
}
.header__personal {
  margin-right: 10rem;
}

.banner {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__content:focus-visible {
  outline: none;
}
.banner__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 20px;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
.banner__subtitle {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.banner__logo {
  width: 12rem;
  height: 15rem;
}
.banner__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 7vh;
}
.scroll span {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}
.scroll svg {
  width: 8rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: 2s infinite arrowDown;
          animation: 2s infinite arrowDown;
  position: relative;
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
.more {
  height: 100vh;
  position: relative;
}
.more video {
  height: 75vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 4vh;
}
.more .scroll {
  bottom: 4vh;
}
.more__content {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
}

.fp-watermark {
  display: none;
}

.about {
  position: relative;
  height: 100vh;
}
.about video {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__video-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 45vh;
  width: 15rem;
  height: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .scroll {
  bottom: 3vh;
}

.products {
  height: 100vh;
}
.products__inner {
  padding-top: 12rem;
}
.products__slider {
  position: relative;
}
.products__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  background: #fff;
}
.products__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5.5vh;
  margin-bottom: 1vh;
}
.products__subtitle {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}
.products__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.products__prev {
  font-size: 2.7vh;
  text-transform: uppercase;
  position: absolute;
  left: 5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.products__next {
  font-size: 2.7vh;
  text-transform: uppercase;
  position: absolute;
  left: 70vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.products__video {
  width: 50%;
  height: 40vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 1.5vh auto;
  display: block;
  margin-top: auto;
}
.products__link {
  display: block;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 1vh auto;
  border-radius: 1.5rem;
  font-size: 3vh;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #7a7a7a;
}
.products__buy-btn {
  width: 14vh;
  height: 14vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.products__buy-btn span {
  color: #fff;
  font-size: 2.3vh;
  position: relative;
  z-index: 1;
}
.products__buy-btn img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__slider-arrow-prev {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 10;
  width: 5rem;
  height: 15rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.products__slider-arrow-prev img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__slider-arrow-next {
  position: absolute;
  top: 50%;
  right: 25%;
  z-index: 10;
  width: 5rem;
  height: 15rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.products__slider-arrow-next img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.products__price {
  position: absolute;
  top: 20vh;
  right: 10%;
  height: 10rem;
  width: 20rem;
  overflow: hidden;
}
.products__price-wrapper {
  position: relative;
}
.products__price-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vh;
  width: 100%;
  height: 100%;
}
.products__price-slide .value {
  margin-right: 1rem;
  font-weight: 600;
}
.products__price-prev {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}
.products__price-prev img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__price-next {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}
.products__price-next img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dreams {
  height: 100vh;
}
.dreams__inner {
  padding: 10vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}
.dreams__title {
  color: #000;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4vh;
}
.dreams__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  margin-bottom: 4vh;
}
.dreams__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dreams__item-video {
  width: 15rem;
  height: 15rem;
  margin-bottom: 4rem;
}
.dreams__item-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dreams__item-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.dreams__item-subtitle {
  font-size: 2.5rem;
  letter-spacing: 0.18px;
  text-align: center;
}
.technology {
  height: 100vh;
}
.technology__video {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.technology__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 60vh;
  padding: 3vh 0 10vh;
  margin: 0 auto;
}
.technology__title {
  font-size: 3.5vh;
  font-weight: 500;
  margin-bottom: 4vh;
  text-align: center;
}
.technology__subtitle {
  font-size: 3vh;
  text-align: center;
  margin-bottom: 4vh;
}
.technology__text {
  font-size: 2.6vh;
  text-align: center;
}
.technology__text p:not(:last-child) {
  margin-bottom: 2vh;
}

.innovation {
  height: 100vh;
}
.innovation__inner {
  padding: 15vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}
.innovation__title {
  color: #000;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 6vh;
}
.innovation__subtitle {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 6vh;
}
.innovation__text {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6vh;
}
.innovation__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  margin-bottom: 6vh;
}
.innovation__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.innovation__item-video {
  width: 15rem;
  height: 15rem;
  margin-bottom: 3vh;
}
.innovation__item-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.innovation__item-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3vh;
}

.process {
  height: 100vh;
}
.process__inner {
  padding: 15vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}
.process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.process__video-block {
  width: 40%;
  height: 100%;
}
.process__video-block video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.process__text-block {
  width: 50%;
}
.process__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 5vh;
}
.process__text {
  font-size: 3rem;
  line-height: 1.4;
}

.cartridge {
  height: 100vh;
}
.cartridge__inner {
  padding: 15vh 0 0vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
}
.cartridge__title {
  font-size: 3.5vh;
  margin-bottom: 4vh;
  text-transform: uppercase;
  text-align: center;
}
.cartridge__subtitle {
  font-size: 2.8vh;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4vh;
}
.cartridge__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  margin-bottom: 4vh;
}
.cartridge__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.cartridge__item-num {
  font-size: 2.5vh;
  font-weight: 500;
  margin-right: 2rem;
}
.cartridge__item-text {
  font-size: 1.7vh;
  text-transform: capitalize;
}
.cartridge__video {
  height: 55vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: auto;
}

.for-business {
  height: 100vh;
}
.for-business__inner {
  padding: 10vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}
.for-business__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.for-business__video-block {
  width: 40%;
  height: 100%;
}
.for-business__video-block video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.for-business__text-block {
  width: 50%;
}
.for-business__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 5vh;
}
.for-business__subtitle {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
.for-business__text {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 3vh;
}
.for-business__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.for-business__link-wrap {
  width: 50%;
}
.for-business__link-wrap span {
  font-size: 1.2rem;
  display: block;
  font-size: 2rem;
}
.for-business__link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 2rem;
}
.for-business__link::before {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.interface {
  height: 100vh;
}
.interface__inner {
  padding: 10vh 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}
.interface__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.interface__video-block {
  width: 40%;
  height: 100%;
}
.interface__video-block video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.interface__text-block {
  width: 50%;
}
.interface__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 5vh;
}
.interface__text {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 3vh;
  width: 80%;
}
.interface__link-wrap {
  width: 50%;
}
.interface__link-wrap span {
  font-size: 1.2rem;
  display: block;
  font-size: 2rem;
}
.interface__link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 2rem;
}
.interface__link::before {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .mobile {
    display: block;
  }
  .desctop {
    display: none;
  }
  .header {
    padding: 1.3rem 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .header__burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger-btn img {
    width: 3.2rem;
    height: 3.2rem;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 2rem;
  }
  .header__burger-btn img.close {
    width: 3.2rem;
    height: 3.2rem;
    -o-object-fit: contain;
       object-fit: contain;
    display: none;
  }
  .header__burger-btn span {
    padding-top: 0.5rem;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
  }
  .header__burger-btn.active img.close {
    display: block;
  }
  .header__burger-btn.active img.open {
    display: none;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo img {
    width: 35rem;
    height: 5rem;
    margin-right: 0rem;
  }
  .header__logo span {
    font-size: 2.1rem;
    text-transform: uppercase;
  }
  .header__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    margin-right: 0rem;
    position: absolute;
    left: 0;
    top: 8rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5.2rem 3rem;
    left: 0;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
    overflow-y: auto;
  }
  .header__nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__nav-item {
    font-size: 3rem;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 4.8rem;
  }
  .header__nav-item:nth-child(2) button {
    display: none;
  }
  .header__nav-item:last-child {
    position: relative;
    padding-top: 2rem;
  }
  .header__nav-item:last-child::before {
    content: " ";
    width: 100%;
    height: 0.3rem;
    background: #fff;
    position: absolute;
    top: -1.5rem;
    left: 0;
  }
  .header__sub-menu {
    position: static;
    visibility: visible;
    opacity: 1;
    width: 100%;
    display: block;
    margin-right: 0;
  }
  .header__sub-menu::before {
    content: none;
  }
  .header__sub-list {
    margin-left: 0rem;
    padding: 0rem;
    background: inherit;
    -webkit-transition: 0;
    transition: 0;
  }
  .header__sub-item {
    font-size: 3rem;
  }
  .header__sub-item:not(:last-child) {
    margin-bottom: 4.8rem;
  }
  .languages__selected-lang {
    font-size: 2.5rem;
  }
  .languages__selected-lang img {
    width: 4rem;
    height: 3rem;
  }
  .languages__lang {
    position: absolute;
    top: 5rem;
    left: auto;
    right: 0;
    padding: 1.5rem;
    font-size: 3.5rem;
  }
  .languages__lang a span {
    font-size: 2rem;
    margin-right: 2rem;
  }
  .languages__lang a img {
    width: 4rem;
    height: 3rem;
  }
}/*# sourceMappingURL=style.css.map */