.mobile {
    display: none;
}


@media (max-width: 48em) {
    .mobile {
        display: block;
    }

    .desctop {
        display: none;
    }

    .header {
        padding: 1.3rem 0;
        background-color: rgba(0, 0, 0, .7);

        &__burger-btn {
            display: flex;
            align-items: center;

            img {
                width: 3.2rem;
                height: 3.2rem;
                object-fit: contain;
                margin-right: 2rem;

                &.close {
                    width: 3.2rem;
                    height: 3.2rem;
                    object-fit: contain;
                    display: none;
                }
            }

            span {
                padding-top: 0.5rem;
                font-size: 2.5rem;
                color: #fff;
                text-transform: uppercase;
            }

            &.active {

                img {
                    &.close {
                        display: block;
                    }
                    &.open {
                        display: none;
                    }
                }
            }
        }
    
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
    
        &__logo {
            display: flex;
            align-items: center;
    
            img {
                width: 35rem;
                height: 5rem;
                margin-right: 0rem;
            }
    
            span {
                font-size: 2.1rem;
                text-transform: uppercase;
            }
        }
    
        &__menu {
            // display: none;
            align-items: center;
        }
    
        &__nav {
            margin-right: 0rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: rgba(0, 0, 0, .7);
            padding: 5.2rem 3rem;
            left: 0;
            transform: translateX(-120%);
            transition: .3s;
            z-index: 2;
            overflow-y: auto;

            &.active {
                transform: translateX(0);
            }
        }
    
        &__nav-list {
            flex-direction: column;
            align-items: start;
        }
    
        &__nav-item {
            font-size: 3rem;
    
            &:not(:last-child) {
                margin-right: 0rem;
                margin-bottom: 4.8rem;
            }
    
            &:nth-child(2) {
    
                button {
                    display: none;
                }
            }

            &:last-child {
                position: relative;
                padding-top: 2rem;

                &::before {
                    content: " ";
                    width: 100%;
                    height: 0.3rem;
                    background: #fff;

                    position: absolute;
                    top: -1.5rem;
                    left: 0;
                }
            }
        }
    
        &__sub-menu {
            position: static;
            visibility: visible;
            opacity: 1;
            width: 100%;
            display: block;
            margin-right: 0;
    
            &::before {
                content: none;
            }
        }
    
        &__sub-list {
            margin-left: 0rem;
            padding: 0rem;
            background: inherit;
            transition: 0;
        }
    
    
        &__sub-item {
            font-size: 3rem;
    
            &:not(:last-child) {
                margin-bottom: 4.8rem;
            }
        }
    }

    .languages {
    
        &__selected-lang {
            font-size: 2.5rem;
        
            img {
                width: 4rem;
                height: 3rem;
            }
        }
        
        &__lang {
            position: absolute;
            top: 5rem;
            left: auto;
            right: 0;
            padding: 1.5rem;
            font-size: 3.5rem;
        }
        
        &__lang a {
            span {
                font-size: 2rem;
                margin-right: 2rem;
            }
    
            img {
                width: 4rem;
                height: 3rem;
            }
        }
    }
}





